.info.info {
  display: flex;
  flex-flow: column;
  color: white;
  overflow: visible;
  justify-content: flex-start;
  align-items: flex-start;
}

.info.info.inline {
  flex-flow: row;
}

.info .info__label {
  color: white;
}

.info.info.inline .info__label {
  margin-right: 6px;
}

.info .info__value {
  color: darkgray;
}