.info.info {
  display: flex;
  flex-flow: row;
  color: white;
  overflow: visible;
  justify-content: flex-start;
  align-items: flex-start;
}

.info .info__label {
  color: white;
  font-size: 12px;
  margin-right: 6px;
}

.info .info__value {
  color: darkgray;
  font-family: monospace;
}